.body--noscroll {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

p, a, span {
  font-family: 'Roboto', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  width: 100%;
  background-color: #3A7866;
  padding: 1rem;
  position: relative;
}

header .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #171717;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
}

header .socialmedia img {
  width: 20px;
  height: 20px;
  display: block;
}

header .socialmedia a {
  display: block;
  padding: 1rem;
}

header nav {
  height: 100px;
}

header nav .hamburger {
  position: relative;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

@media (min-width: 900px) {
  header nav .hamburger {
    display: none;
  }
}

header nav .hamburger, header nav .navigation {
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

header nav .hamburger--active {
  -webkit-transform: translatex(250px);
          transform: translatex(250px);
}

header nav .hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

header nav .hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .1s .2s ease-in-out;
  transition: background-color .1s .2s ease-in-out;
}

header nav .hamburger__inner::before,
header nav .hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s .2s ease-in-out;
  transition: -webkit-transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
}

header nav .hamburger__inner::before {
  top: -10px;
}

header nav .hamburger__inner::after {
  top: 10px;
}

header nav .hamburger--active .hamburger__inner {
  background-color: transparent;
}

header nav .hamburger--active .hamburger__inner:before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

header nav .hamburger--active .hamburger__inner:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

header nav .navigation {
  height: 100vh;
  width: 250px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  z-index: 2;
}

header nav .navigation--active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

header nav .navigation__list {
  margin-top: 50px;
  list-style: none;
}

header nav .navigation__item {
  padding: 1rem;
}

header nav .navigation__item a {
  text-decoration: none;
  color: #171717;
  text-transform: uppercase;
}

header .nav-desktop-top {
  display: none;
}

@media (min-width: 900px) {
  header .nav-desktop-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1.5rem auto;
    width: 100%;
    height: 20%;
    max-width: 60rem;
  }
  header .nav-desktop-top .navigation-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  header .nav-desktop-top .navigation-desktop__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  header .nav-desktop-top .navigation-desktop__item {
    border: 1;
    margin-right: 1rem;
    text-decoration: none;
  }
  header .nav-desktop-top .navigation-desktop__item a {
    position: relative;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    overflow: hidden;
  }
  header .nav-desktop-top .navigation-desktop__item a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 1px;
    margin: 0 auto;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  header .nav-desktop-top .navigation-desktop__item a:hover::after {
    background-color: #FFFFFF;
  }
}

header .nav-desktop-top .socialmedia-desktop {
  display: none;
}

@media (min-width: 900px) {
  header .nav-desktop-top .socialmedia-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 20%;
    max-width: 60rem;
    margin-left: 1rem;
  }
  header .nav-desktop-top .socialmedia-desktop img {
    height: 23px;
    width: 25px;
  }
  header .nav-desktop-top .socialmedia-desktop a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 1rem;
  }
  header .nav-desktop-top .socialmedia-desktop a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 1px;
    margin: 0 auto;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  header .nav-desktop-top .socialmedia-desktop a:hover::after {
    background-color: #FFFFFF;
  }
}

header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40%;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 900px) {
  header .header-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: none;
        align-self: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    margin: 1.5rem auto;
    width: 100%;
    height: 200px;
    max-width: 60rem;
  }
}

header .header-title h1 {
  font-size: clamp(3rem, 3vw, 8rem);
  text-transform: uppercase;
  color: white;
  width: 80%;
  max-width: 30rem;
  padding: 0 1rem;
}

@media (min-width: 620px) {
  header .header-title h1 {
    font-size: clamp(4rem, 4vw, 9rem);
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .arrow-sticky {
  display: none;
}

@media (min-width: 620px) {
  main .arrow-sticky {
    display: block;
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    z-index: 10;
  }
  main .arrow-sticky i {
    font-size: 3rem;
    padding: 1rem;
    background-color: rgba(14, 14, 14, 0.4);
    border-radius: 25%;
    color: #FFFFFF;
  }
  main .arrow-sticky i:hover {
    background-color: rgba(14, 14, 14, 0.7);
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
  }
  main .arrow-sticky a {
    display: block;
  }
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

main section h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.25rem;
}

@media (min-width: 620px) {
  main .about {
    position: relative;
  }
}

@media (min-width: 1200px) {
  main .about {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
}

main .about .about__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about .about__img img {
  margin: 0 auto;
  width: 70%;
}

@media (min-width: 620px) {
  main .about .about__img img {
    width: 60%;
    max-width: 25rem;
    margin: 0;
  }
}

@media (min-width: 620px) {
  main .about .about__img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 900px) {
  main .about .about__img {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  main .about .about__img {
    margin: 0 auto;
  }
}

main .about .about__text {
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  font-weight: 300;
  width: 90%;
}

@media (min-width: 620px) {
  main .about .about__text {
    position: absolute;
    bottom: 1rem;
    right: 0;
    background-color: #fff;
    width: 70%;
    height: 200px;
  }
}

@media (min-width: 900px) {
  main .about .about__text {
    height: 225px;
    width: 70%;
    max-width: 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 3rem;
  }
}

@media (min-width: 1200px) {
  main .about .about__text {
    right: 7rem;
  }
}

main .about .about__text p {
  width: 100%;
  max-width: 35rem;
  margin: 1rem auto;
}

@media (min-width: 620px) {
  main .about .about__text p {
    width: 80%;
  }
}

@media (min-width: 900px) {
  main .about .about__text p {
    width: 60%;
    max-width: 30rem;
  }
}

main .about .about__text .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  min-width: 20rem;
  max-width: 20rem;
}

main .about .about__text .btns .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3A7866;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  margin: 1rem;
  padding: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

main .about .about__text .btns .btn img {
  width: 20px;
  height: 20px;
}

main .about .about__text .btns .btn:hover {
  background-color: #171717;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

main .about .about__text .btns .lighter {
  text-align: center;
  background-color: rgba(58, 120, 102, 0.7);
  font-size: .8rem;
}

main .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 620px) {
  main .works .works-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
  }
}

main .works .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

main .works .card .card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .works .card .card__img img {
  width: 90%;
  max-width: 30rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#3A7866), color-stop(90%, transparent));
  background: linear-gradient(to bottom, #3A7866, transparent 90%);
  border-radius: 30px;
  padding: .35rem .30rem;
  margin: 0 auto;
}

main .works .card__text {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  max-width: 30rem;
}

main .works .card__text p {
  width: 85%;
  margin: 0 auto;
}

main .works .card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  min-width: 20rem;
  max-width: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .works .card__btn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3A7866;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  margin: 1rem;
  padding: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  width: 100px;
  height: 35px;
  font-size: .8rem;
}

main .works .card__btn .btn img {
  width: 20px;
  height: 20px;
}

main .works .card__btn .btn:hover {
  background-color: #171717;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

main .works .card__btn .lighter {
  text-align: center;
  background-color: rgba(58, 120, 102, 0.7);
  font-size: .8rem;
}

main .skills {
  text-align: center;
}

@media (min-width: 620px) {
  main .skills {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
  }
}

main .skills h2 {
  margin-top: 0;
}

@media (min-width: 620px) {
  main .skills .skills-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  main .skills .skills-content {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

main .skills .skills-content .box {
  margin: 2rem 0;
  padding: 0 1rem;
}

main .skills .skills-content .box img {
  width: 30px;
  height: 30px;
  margin-bottom: 1rem;
}

main .skills .skills-content .box p {
  margin: 0 auto;
  font-size: 0.875rem;
  font-weight: 300;
  width: 80%;
  max-width: 20rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3A7866;
}

.footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .content h2 {
  text-align: center;
  color: #fff;
  line-height: 160%;
  max-width: 20rem;
}

.footer .content p {
  margin: 1rem 0;
  color: #fff;
  text-transform: uppercase;
}

.footer .footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  min-width: 20rem;
  max-width: 20rem;
  max-width: 100%;
}

.footer .footer-btn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3A7866;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  margin: 1rem;
  padding: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: rgba(67, 184, 151, 0.3);
}

.footer .footer-btn .btn img {
  width: 20px;
  height: 20px;
}

.footer .footer-btn .btn:hover {
  background-color: #171717;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.footer .footer-btn .lighter {
  text-align: center;
  background-color: rgba(58, 120, 102, 0.7);
  font-size: .8rem;
  background-color: rgba(67, 184, 151, 0.3);
}
/*# sourceMappingURL=style.css.map */